/*
* Style Works for both Editor and Frontend
*/

.wp-block-lcb-logo-carousel {
	position: relative;
	padding: 0 30px !important;
	&.alcb__active_pagination {
		padding: 40px 30px !important;
	}
	.swiper-wrapper {
		align-items: center;
	}
	.alcb__logo-item {
		box-sizing: border-box;
		overflow: hidden;
		position: relative;
		&:hover {
			.alcb__logo-caption.caption__hover {
				height: auto;
				visibility: visible;
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
	.alcb__logo-caption {
		position: absolute;
		bottom: 0;
		width: 100%;
		left: 0;
		text-align: center;
		padding: 0 10px;
		font-size: 14px;
		line-height: 2;
		&.caption__hover {
			height: 0;
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s ease-in-out;
			transform: translateY(10px);
		}
	}

	// logo hover effects
	.alcb__logo-image {
		text-align: center;
		padding: 5px;
		img {
			transition: 0.2s ease-in-out;
		}
		&.alcb__normal_to_gray {
			&:hover {
				img {
					filter: grayscale(100%);
				}
			}
		}
		&.alcb__zoom_in {
			&:hover {
				img {
					transform: scale(1.1);
				}
			}
		}
		&.alcb__zoom_out {
			img {
				transform: scale(1.1);
			}
			&:hover {
				img {
					transform: scale(1);
				}
			}
		}
	}

	// swiper navigation arrows
	.swiper-button-next,
	.swiper-button-prev {
		color: #000 !important;
	}

	.swiper-button-prev,
	.swiper-rtl .swiper-button-next {
		left: 0;
	}

	.swiper-button-next,
	.swiper-rtl .swiper-button-prev {
		right: 0;
	}

	.swiper-button-next:after,
	.swiper-button-prev:after,
	.swiper-button-next:after,
	.swiper-button-prev:after {
		font-size: 20px !important;
	}
}

// mobile view
@media screen and (max-width: 767px) {
	.wp-block-lcb-logo-carousel {
		&.alcb__active_pagination {
			padding: 30px 30px 40px !important;
		}
	}
}
